{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/detail_product.css' %}">
    <link rel="icon" type="image/png" href= "{% static 'resources/icon_web.png' %}">
    <title>Detalles del  producto</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
</head>
<body>
    <div class="nav_bar">
        <div class="nav_left">
            <div class="nav_logo"></div>
        </div>
        <div class="nav_right">
            <div class="name">
                <p><b style="background-color: white;">{{email}}</b> </p>
            </div>
            <div class="circule"></div>
            <form action="{% url '' %}">
                {% csrf_token %}
                <button class="button_logout" type="submit"><b style="background-color: transparent;">Log Out</b> </button>
            </form>
        </div>
    </div>
    <div class="global_container">
        <div class="vertical_menu">
            <div class="item">
                <a href="{% url 'new' email %}" style="background-color: transparent; text-decoration: none;color: black"> <b style="background-color: transparent;">Nuevo</b></a>
            </div >

            <!--

                <div class = "item">
                    <a href="" style="background-color: transparent;"> <b style="background-color: transparent;">Mejores Ofertas</b> </a>
                </div>
            -->

            <div class = "item">
                <a href="{% url 'products' email %}" style="background-color: transparent; text-decoration: none;color: black"> <b style="background-color: transparent;">Mis productos</b></a>
            </div>

        </div>
        <div class="container">
            <div class="sub_container">
                <div class="right_container">
                    <h1>{{name_product}}</h1>
                    <h2>Almacén: {{store}}</h2>
                    <img class="product_image" src="https://www.alkosto.com/medias/195697259623-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wyOTAyMXxpbWFnZS9qcGVnfGltYWdlcy9oNzIvaGNlLzEwNTA2OTkzNjY0MDMwLmpwZ3wyZDYwMWQ2MzA2MDA3Mjc5ZWQxMGRlY2UyMjdhZWNhNmIwYTgxNWEzYWE5ODhmYTZkYmNjZWRiMTY0NzlkMzkz" alt="">
                    <div class="price_container">
                        <div class="right">
                            <a href="{{link}}" target="_blank" style="color: #31454D;">Tienda Oficial</a>
                            <p>Enlance</p>
                        </div>
                        <div class="left">
                            <p>{{precio_mas_bajo}}</p>
                            <p>Precio más bajo</p>
                        </div>
                    </div>
                </div>
                <div class="plot">
                    <canvas id="chart" ></canvas>
                    <script>
                        var labels = "{{labels}}";
                        var precios ="{{precios}}";
                        labels= labels.slice(1,-1).split(',')
                        precios = precios.slice(1,-1).split(',')

                        labels = labels.map(function(x){
                            return x.replace(' &#x27;','').replace('&#x27;','').replace('&#x27;','')
                        })

                    </script>
                    <script>
                        var ctx = document.getElementById('chart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'Precios',
                                    data: precios,
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true,
                                
                            }
                        });
                        </script>
                </div>
            </div>
        </div>
    </div>

    <div class="footer"></div>
    
</body>
</html>