{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El mejor precio</title>    
    <link rel="icon" type="image/png" href="{% static 'resources/icon_web.png' %}">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    <div class="main_container">
        <div class="left">
            <div class="left_container">
                <div class="title_login center">
                    <h1>Bienvenido</h1>
                </div>
                <div class = "text_container center">
                    <div>
                        <p><b>Accede a tus productos guardados y ver sus estadisticas <br>
                            !Corre la ofertas que esperas <br> puede estar acabando!</b>
                         </p>
                    </div>
                </div>
                <div>
                    {% if error %}
                        <p style="color: red;background-color: white;">{{error}}</p>
                    {% endif%}
                    <form  method="POST" action="{% url ''  %}">
                        {% csrf_token %}
                        <div class="container_form">
                            <p style="font-size: 20px;" > <b>Email</b></p>
                            <input class="email input"  name="email" id="">
                            <p style="font-size: 20px;"> <b>Contraseña</b></p>
                            <input class="password input" type="password" name="pass" id="">
                        </div>
                        <button class="button_login" type="submit"><b style="background-color: transparent;">Login</b> </button>
                    </form>
                    <div class="container_new_sign">
                        <div class="new_sign left">
                            <p> <b>¿Aún no tienes cuenta?</b></p>
                        </div>
                        <div class="new_sign right">
                            <a  style="color: #31454D;" href=""> <b>Sign Up Aquí</b></a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="logo_image"></div>
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>