{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/my_products.css' %}">
    <link rel="icon" type="image/png" href="{% static 'resources/icon_web.png' %}">
    <title>Mis productos</title>
</head>
<body>
    <div class="nav_bar">
        <div class="nav_left">
            <div class="nav_logo"></div>
        </div>
        <div class="nav_right">
            <div class="name">
                <p><b style="background-color: white;">{{email}}</b></p>
            </div>
            <div class="circule"></div>
            <form action="{% url '' %}">
                {% csrf_token %}
                <button class="button_logout" type="submit"><b style="background-color: transparent;">Log Out</b> </button>
            </form>
        </div>
    </div>
    <div class="global_container">
        <div class="vertical_menu">

            <div class="item">
                <a href="{% url 'new' email %}" style="background-color: transparent; text-decoration: none;color: black"> <b style="background-color: transparent;">Nuevo</b></a>
            </div >
            <!--
                <div class = "item">
                    <a href="{% url '' %}" style="background-color: transparent; text-decoration: none;color: black"> <b style="background-color: transparent;">Mejores Ofertas</b> </a>
                </div>

            -->
            
            <div class = "item">
                <a href="{% url 'products' email %}" style="background-color: transparent; text-decoration: none;color: black"> <b style="background-color: transparent;">Mis productos</b></a>
            </div>

        </div>
        <div class="container">

        <!--
             <div class="queries">
                <input class="input" type="text" name="" id="" placeholder="Nombre de producto">
                <button style="margin-left: 14px;" class="button_search">Buscar</button>
                <div class="right">
                    <h2 style="margin-right: 14px;" >Ordenar por:</h2>
                    <form action="">
                        <select class="options" name="querie" id="">
                            <option value="">Precio</option>
                            <option value="">Destacados</option>
                            <option value="">Fecha</option>
                        </select>
                    </form>
                </div>
            </div>
        -->
            <div class="wrapper">
                {% for product,price in productos %}
                    <div class="item_product">
                        <img class="logo_product" src="https://www.alkosto.com/medias/195697259623-001-310Wx310H?context=bWFzdGVyfGltYWdlc3wyOTAyMXxpbWFnZS9qcGVnfGltYWdlcy9oNzIvaGNlLzEwNTA2OTkzNjY0MDMwLmpwZ3wyZDYwMWQ2MzA2MDA3Mjc5ZWQxMGRlY2UyMjdhZWNhNmIwYTgxNWEzYWE5ODhmYTZkYmNjZWRiMTY0NzlkMzkz" ></img>
                        <div  class="details_product">
                            <h1 class="title_product">{{product}}</h1>
                            <table class="table_product">
                                <thead>
                                    <tr>
                                        <th>Propiedad</th>
                                        <th>Descripción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tienda</td>
                                        <td>Alkosto</td>
                                    </tr>
                                    <tr>
                                        <td>Precio Guardado: </td>
                                        <td><b>{{price}}</b></td>
                                    </tr>
                                    </tr>
                                </tbody>
                            </table>
                            <a href= "{% url 'details' product %}">Detalles</a>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <div class="footer"></div>
</body>
</html>