{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/new.css' %}">
    <link rel="icon" type="image/png" href="{% static 'resources/icon_web.png' %}">
    <title>Añadir Producto</title>
</head>
<body>
    <div class="nav_bar">
        <div class="nav_left">
            <div class="nav_logo"></div>
        </div>
        <div class="nav_right">
            <div class="name">
                <p><b style="background-color: white;">{{email}}</b></p>
            </div>
            <div class="circule"></div>
            <form action="{% url '' %}">
                {% csrf_token %}
                <button class="button_logout" type="submit"><b style="background-color: transparent;">Log Out</b> </button>
            </form>
        </div>
    </div>
    <div class="global_container">
        <div class="vertical_menu">
            <div class="item">
                <a href="{% url 'new' email %}" style="background-color: transparent; text-decoration: none;color: black"> <b style="background-color: transparent;">Nuevo</b></a>
            </div >
            <!--
                <div class = "item">
                    <a href="{% url '' %}" style="background-color: transparent; text-decoration: none;color: black"> <b style="background-color: transparent;">Mejores Ofertas</b> </a>
                </div>

            -->
            <div class = "item">
                <a href="{% url 'products' email%}" style="background-color: transparent; text-decoration: none;color: black"> <b style="background-color: transparent;">Mis productos</b></a>
            </div>

        </div>
        <div class="container">
            <div class="logout_container">
                <div class="circule"></div>
                <p style="background-color: white;"><b style="background-color: white;">Juan Carlos Bodoque</b> </p>
                <button class="button" type="submit" >  <b style="background-color: transparent;">Logout</b> </button>
            </div>

            <h1 style="background-color: transparent;">Añadir Nuevo Producto</h1>

            <div>
                <h3 style="background-color: white;" >1. Copia el link del producto de una tienda válida</h3>
                <h3 style="background-color: white;">2. Ve a la sección de mis productos y recarga</h3>
            </div>
    

            {% if error %}
                <p style="color: red;background-color: white;">{{error}}</p>
            {% endif%}

            {% if tienda %}
                <p style="color:teal;background-color: white;">tienda :{{tienda}}</p>
            {% endif%}

            <div class="new" style="width: 100%; display: flex; flex-direction: column;">
                <form  method="POST" style="width: 100%;" action="{% url 'new' email%}">
                    {% csrf_token %}
                    <input style="background-color: white;" name ='url_product' class="input" type="text" value="" placeholder="url del producto">
                    <button class="button search" type="submit" >  <b style="background-color: transparent;">Buscar</b> </button>
                </form>            
            </div>

            

        </div>
    </div>

    <div class="footer"></div>
    
</body>
</html>